main {
  background-color: #14181c;
  padding: 1rem;
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    margin: 0 0 1rem 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 3px;
    color: white;
    @each $titulo, $enlace in $galeriaGrid {
      .img--#{$titulo} {
        background-image: url($enlace);
        height: 600px;
        width: 1fr;
        border: 1px solid white;
        @include bgImgSettings();
      }
    }
  }
}
